.board-cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: lightblue;
}

.marked-ship {
  background-color: red;
}

.marked-missed-attack {
  background-color: gray;
}
