body {
  background-color: #000080;
  color: #D3D3D3;
  text-align: center;
  font-family: cursive;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boardcell {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  cursor: crosshair;
}

.gamestart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.button {
  display: inline-block;
  border: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  background-color: black;
  color: white;
}

.button:hover {
  background-color: #555555;
  color: white;
}

.button:disabled {
  background-color: #999999;
  color: #333333;
  cursor: not-allowed;
}

.main-game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  height: 100vh; /* Adjust the height as needed */
}
